<div class="login">
  <div class="login-card">
    <div class="logo">
      <i class="pi pi-globe"></i>
      <p>SteelDoor</p>
    </div>
    <div class="welcome">
      <p>Welcome</p>
    </div>
    <div class="fields" [formGroup]="formGroup">
      <div class="inputs-wrapper">
        <label>Email:</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="inputs-wrapper">
        <label>Password:</label>
        <p-password formControlName="password" [feedback]="false"></p-password>
      </div>

      <p-button label="Login" (click)="handleLogin()"></p-button>
    </div>
    <div class="redirect">
      <a href="/sign-up-company">Sign up like company</a>
      <a href="/sign-up-user">Sign up like job seeker</a>
    </div>
  </div>
</div>
