<div class="login">
  <div class="login-card">
    <div class="logo">
      <i class="pi pi-globe"></i>
      <p>SteelDoor</p>
    </div>
    <div class="welcome">
      <p>Welcome</p>
    </div>
    <div class="fields" [formGroup]="formGroup">
      <div class="inputs-wrapper">
        <label>Email:</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="inputs-wrapper">
        <label>Password:</label>
        <input type="text" pInputText formControlName="password" />
      </div>

      <p-button label="Login"></p-button>
    </div>
    <div class="redirect">
      <a href="">Sign up like company</a>
      <a href="">Sign up like job seeker"</a>
    </div>
  </div>
</div>
