@import "variables";

::ng-deep .job-list {
  // width: 100%;
  height: calc(100vh - 50px);
  padding: 30px;

  .users {
    .user {
      border: 1px solid $border-color;
      padding: 5px;
      border-radius: 4px;
      overflow: auto;
      max-height: 60vh;
      margin-bottom: 15px;

      .title {
        color: $primary-color;
        font-weight: 700;
      }

      .value {
        color: $description-color-text;

        span {
          font-weight: 700;
        }
      }
    }
  }

  .dialog {
    .input-wrapper {
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
      }

      .p-inputnumber-input {
        width: 100%;
      }

      .p-multiselect {
        width: 100%;
      }
    }

    .btn-action {
      .p-button {
        width: 100%;
        background-color: $primary-color;
        border: none;
      }
    }
  }

  .sidebar {
    padding: 0;

    .titles-sidebar {
      p {
        font-size: 25px;
        color: $primary-color;
        font-weight: 700;
      }
    }

    .filters {
      padding: 20px 10px;
      border: 1px solid $border-color;

      .input-wrapper {
        margin-bottom: 15px;

        .p-inputnumber {
          width: 100%;
        }

        label {
          margin-bottom: 5px;
          color: $label-color;
          font-size: 15px;
        }
      }

      .btn-action {
        .p-button {
          width: 100%;
          background-color: $primary-color;
          border: none;
        }
      }
    }
  }

  .list {
    height: 100%;
    padding-left: 50px;

    .create-job {
      .p-button {
        background-color: $success-color;
        border: none;
      }
    }
  }

  .card {
    border: 1px solid $border-color;
    border-radius: 5px;

    .title {
      font-size: 25px;
      font-weight: 700;
      color: $main-color-text;
    }

    .salary {
      font-size: 12px;
      font-weight: 600;
      color: $primary-color;
      line-height: 5px;
    }

    .description {
      font-size: 14px;
      font-weight: 600;
      color: $description-color-text;
    }

    .skills-wrappers {
      margin: 20px 0;
      .skill {
        padding: 5px 10px;
        border-radius: 15px;
        background-color: $primary-color;
        color: $forth-color;
        margin-right: 5px;
      }
    }

    .btn-action {
      .p-button {
        background-color: $primary-color;
        color: $secondary-color-text;
        border: none;
      }
    }
  }
}
