<div class="job-list grid">
  <div class="col-2 sidebar">
    <div class="filters">
      <div class="input-wrapper flex flex-column">
        <label htmlFor="title">Title</label>
        <input pInputText id="title" formControlName="title" />
      </div>
      <div class="input-wrapper flex flex-column">
        <label htmlFor="desSalary">Desire salary</label>
        <p-inputNumber
          id="desSalary"
          formControlName="desireSalary"
          mode="decimal"
          [minFractionDigits]="2"
          [maxFractionDigits]="5"
        />
      </div>
      <div class="btn-action">
        <p-button label="Filter"></p-button>
      </div>
    </div>
  </div>
  <div class="col-10 list">
    <div class="card grid">
      <div class="col-8">
        <p class="title">
          Sistema Web de Agendamento de Serviços de Lavagem Automotiva
        </p>
        <p class="salary">12000.00 - 15000.00</p>
        <p class="description">
          Cliente: Olá eu estou precisando desenvolver um sistema web que tenha
          as funcionalidades básicas para o cliente que é entrar no site e...
          1)Escolher o serviço 2) Escolher um horario para lavagem do carro,
        </p>
        <div class="skills-wrappers flex">
          <div class="skill">Java</div>
          <div class="skill">Mysql</div>
          <div class="skill">PHP</div>
          <div class="skill">React</div>
          <div class="skill">Javascript</div>
        </div>
      </div>
      <div class="btn-action col-4 flex justify-content-end">
        <p-button label="Apply"></p-button>
      </div>
    </div>
  </div>
</div>
