<div class="job-list grid">
  <div class="col-2 filters">mano</div>
  <div class="col-10 list">
    <div class="card grid">
      <div class="col-8">
        <p class="title">
          Sistema Web de Agendamento de Serviços de Lavagem Automotiva
        </p>
        <p class="salary">12000.00 - 15000.00</p>
        <p class="description">
          Cliente: Olá eu estou precisando desenvolver um sistema web que tenha
          as funcionalidades básicas para o cliente que é entrar no site e...
          1)Escolher o serviço 2) Escolher um horario para lavagem do carro,
        </p>
        <div class="skills-wrappers flex">
          <div class="skill">Java</div>
          <div class="skill">Mysql</div>
          <div class="skill">PHP</div>
          <div class="skill">React</div>
          <div class="skill">Javascript</div>
        </div>
      </div>
      <div class="btn-action col-4 flex justify-content-end">
        <p-button label="Apply"></p-button>
      </div>
    </div>
  </div>
</div>
