@use "variables";

::ng-deep .app {
  .mat-toolbar {
    background-color: variables.$primary-color;
    color: variables.$secondary-color-text;
    font-weight: bold;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    mat-icon {
      font-weight: 500;
    }

    span {
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
