$primary-color: #146c94;
$secondary-color: #19a7ce;
$third-color: #afd3e2;
$forth-color: #f6f1f1;
$main-color-text: #333333;
$secondary-color-text: #ffffff;
$main-background: #ffffff;
$label-color: #808080;
