<div class="user-signup">
  <div class="user-signup-card">
    <div class="logo">
      <i class="pi pi-globe"></i>
      <p>SteelDoor</p>
    </div>
    <div class="welcome">
      <p>Sign up user</p>
    </div>
    <div class="fields" [formGroup]="formGroup">
      <div class="inputs-wrapper">
        <label>First Name:</label>
        <input type="text" pInputText formControlName="firstName" />
      </div>
      <div class="inputs-wrapper">
        <label>Last Name:</label>
        <input type="text" pInputText formControlName="lastName" />
      </div>
      <div class="inputs-wrapper">
        <label>Phone:</label>
        <input type="text" pInputText formControlName="phone" />
      </div>
      <div class="inputs-wrapper">
        <label>Birthday:</label>
        <p-calendar formControlName="birthday"></p-calendar>
      </div>
      <div class="inputs-wrapper">
        <label>Email:</label>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="inputs-wrapper">
        <label>Password:</label>
        <input type="text" pInputText formControlName="password" />
      </div>

      <p-button label="Sign up" (click)="onHandleSignUp()"></p-button>
    </div>
    <div class="redirect">
      <a href="">I have an account</a>
    </div>
  </div>
</div>
